{:paths ["src" "resources"]

 :deps
  {org.clojure/clojure {:mvn/version "1.12.0"}
   cheshire/cheshire   {:mvn/version "5.13.0"}
   org.babashka/cli    {:mvn/version "0.8.60"}}

 :aliases
 {:dev  {:extra-paths ["dev" "test"]
         :extra-deps  {nrepl/nrepl {:mvn/version "1.3.0"}}}
  :test {:extra-paths ["test"]
         :main-opts   ["-m" "runner"]}
  :run  {:main-opts ["-m" "pdpa.core"]}}}
